<template>
    <div class="container">

    </div>
</template>

<script>
    import mediumJSONFeed from 'medium-json-feed';
    export default {
        data() {
          return {
              posts: []
          }
        },
        created() {
            this.fetchPosts();
        },
        methods: {
            fetchPosts() {

                // Usernames start with '@'
                mediumJSONFeed('@cleanb2b')
                    .then(data => {
                        console.log('data: ', JSON.stringify(data))
                    })
                    .catch(data => {
                        console.log('error data: ', JSON.stringify(data))
                    });

                // Publication names without '@'
                mediumJSONFeed('tirando-a-limpo', data => {
                    console.log('data: ', JSON.stringify(data))
                });

                // Medium's top page (trending posts)
                mediumJSONFeed()
                    .then(data => {
                        console.log('data: ', JSON.stringify(data))
                });

            }
        }
    }
</script>
