@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700,800,900');
body, html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}
hr {
    max-width: 50px;
    border: 3px #187758;
}
a {
    color: #187758;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
a:hover {
    color: #f05f40;
    text-decoration: none;
}

button:focus {
    outline: none!important;
}
textarea:focus, input:focus {
    outline: none;
}
*:focus {
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.bg-primary {
    background-color: #187758 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.close {
    opacity: 0.9;
}
.patter-bg {
    position: absolute;
    z-index: 99;
    margin-top: -200px;
}
section {
    padding: 2rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

.form-control {
    border-radius: 0;
    height: 50px;
    font-size: 12px;
}

#mainNav {
    padding: 25px 0;
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 999;
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #187758;
    font-family: 'Montserrat', sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: 10px;
    color: #fff;
    text-align: left;
    padding: 15px;
    text-transform: uppercase;
}
.navbar-brand .img-logo-white, .img-logo-green {
    width: 100px;
}
.navbar-brand .js-scroll-trigger {
    margin-left: 20px;
}
.navbar .container {
    /*border-bottom: 1px solid #6e6e6e;*/
    padding-bottom: 25px;
}
.navbar-shrink > .container {
    border: none;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    /*color: #187758 !important;*/
    background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: transparent;
}
.dropdown-menu {
    min-width: 1.5em;
}
.dropdown-item {
    font-size: 12px;
}
.navbar-light .navbar-toggler {
    border: none;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    /*background: url("../img/img.png") center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header.masthead .content-masthead p.name-site {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead p {
    font-weight: 300;
}

/*HEADER PAGE*/
header.masthead-page {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background: url("../img/banner-faq.png") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header.masthead-page .content-masthead {
    margin-left: 90px;
}
header .content-masthead {
    padding: 200px 0 70px 0;
}

header.masthead-page hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead-page h1 {
    font-size: 2rem;
}

header.masthead-page p {
    font-weight: 300;
}

.arrow-scroll-down {
    text-align: center;
    margin-top: -200px;
    position: relative;
    width: 300px;
}
.arrow-scroll-down:hover {
    opacity: 0.6;
}
.arrow-scroll-down span {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}
.arrow-scroll-down img{
    margin: 30px 0;
    width: 40px;
}
.arrow-scroll-down span{
    font-size: 14px;
    color: #fff;
}

.box-buttons {
    float: left;
}

.box-buttons .btn-default-green {
    padding: 15px 30px;
    color: #fff;
    border: 2px solid #78BE8A;
    border-radius: 50px;
    font-size: 8px;
    text-transform: uppercase;
    margin-right: 30px;
}
.box-buttons .btn-default-green:hover {
    background-color: #78BE8A;
    color: #fff;
}

.social-btns{
    font-size: 15px;
    list-style: none;
    color: #fff;
    top: 52px;
    position: relative;
}

.social-btns li{
    margin-bottom: 5px;
}

.social-btns li i{
    font-size: 22px;
}

.social-btns .btn-facebook {
    color: #ffffff;
    background-color: transparent;
}

.social-btns .btn-instagram {
    color: #ffffff;
    background-color: transparent;
}

.social-btns .btn-linkedin {
    color: #ffffff;
    background-color: transparent;
}

/*ABOUT SECTION*/
#about {
    background: #fff url("../img/linhas.svg") no-repeat;
    width: 100%;
    /*height: 400px;*/
    padding: 50px 0 45px 0;
}

/*FAQ INDEX*/
[data-toggle="collapse"]:after {
    background: url("../img/mouse.gif");
}
[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg) ;
}

.text-primary {
    color: #187758 !important;
}

.btn {
    border: none;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #2C9F28;
    border-color: #2C9F28;
}
.btn-default {
    background-color: #464646;
    color: #ffffff;
}
.btn-default:hover {
    background-color: #000;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #187758;
}

.btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
.overlay {
    content: 'test';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
}
.mouse-down {
    width: 25px;
    z-index: 99999!important;
    position: absolute;
    margin-top: 40px;
}
.mouse-down-faq {
    width: 25px;
    z-index: 99!important;
    position: absolute;
    text-align: center!important;
    margin-top: 10em;
}

section.countdown {
    background-color: #187758;
    color: #ffffff;
    height: 200px;
    padding: 40px 100px;
    position: relative;
    margin-top: -100px;
    z-index: 500;
}
section.countdown img {
    margin: 15px 0 0 0;
}
section.countdown h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
section.countdown p {
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    float: right;
}

#clockdiv > div{
    padding: 10px 0 0 0;
    width: 40px;
    height: 65px;
    border-radius: 3px;
    background: #94E003;
    color: #444;
    display: inline-block;
    -webkit-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
}

#clockdiv div > span{
    padding: 10px;
    border-radius: 3px;
    /*background: #00816A;*/
    display: inline-block;
}
#clockdiv p {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 11px;
    margin-top: 20px;
}

.smalltext{
    color: #fff;
    padding-top: 14px;
    font-size: 10px;
    text-transform: uppercase;
}
section.countdown-desc {
    background-color: #F3F3F3;
    min-height: 300px;
    padding: 100px 100px;
    position: relative;
    margin-top: -100px;
}
.content-header {
    z-index: 999999!important;
    position: absolute;
}
.carousel-indicators {
    display: none;
}
section.countdown-desc h3 {
    color: #000;
    font-size: 18px;
    line-height: 25px;
}
section.countdown-desc p {
    color: #606060;
    font-size: 14px;
    padding-right: 30px;
}
section.countdown-desc a {
    color: #64B42F;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    float: left;
    margin: 0;
    padding: 0;
}
section.countdown-desc a:hover {
    color: #000;
    text-decoration: none;
}

/* CONTENT SECTION */
.content-section {
    margin-left: 6em;
}

/*content-about*/
.content-about {
    padding: 0 7em 0 0;
}
.content-about h3 {
    font-size: 40px;
    font-weight: bold;
    color: #707070;
    padding-right: 60px;
}
.content-about p {
    font-size: 14px;
    color: #707070;
    margin-right: 25em;
    margin-top: 30px;
}
.content-about a {
    font-size: 10px;
    color: #6BB633;
    font-weight: bold;
    text-transform: uppercase;
}

/* WORKS */
section#works {
    margin: 100px 0 0 0;
    padding: 70px 0;
    position: relative;
    /*z-index: 99999;*/
    background-color: #F5F5F5;
}
section#works .bg-word_map {
    width: 600px;
    position: absolute;
    top: -9em;
    float: right;
    text-align: right;
    right: 6em;
}
section#works .works {
    margin: 50px 0 0 0;
}
section#works .box-works .item-work{
    margin: 0 0 30px 0;
}
section#works .box-works p{
    font-size: 12px;
    color: #000000;
    margin-top: 20px;
    margin-right: 7em;
}
section#works .box-works h3{
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: none;
    font-weight: bold;
    padding-bottom: 10px;
}
.line-divider {
    vertical-align: bottom;
    border-bottom: 2px solid #707070;
    width: 100px;
    white-space: nowrap;
}
section#works .box-works h4{
    color: #22D975;
    font-size: 36px;
}
section#works .box-works {
    margin: 0 auto;
}
section#works h2.section-heading {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin: 0 0 25px 0;
}
.desc-works {
    width: 380px;
}
.desc-works h5{
    color: #707070;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 28px;
}
section.container-works {
    z-index: 555;
    position: relative;
}
/*slider*/
.owl-dots {
    display: none!important;
}
section.container-works a.link-download{
    color: #64B42F;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin: 20px 0 0 0;
}
.download-link {
    font-size: 10px;
    color: #6BB633;
    font-weight: bold;
    text-transform: uppercase;
}
.bg-works {
    margin: 0 0 0 20px;
    padding: 0 15px 0 0;
}
.works-item {
    background-color: #09D665;
    padding: 0;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
    text-align: center;
}
/*Downloaded from https://www.codeseek.co/glebkema/owl-carousel-active-and-center-items-Xjryjd */
.owl-item.active.center .item > div {
    background-color: #35B17D;
    /*padding: 0;*/
    position: absolute;
    height: 390px;
    z-index: 999;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
}
/*.works-item:hover {*/
/*background-color: #35B17D;*/
/*padding: 0;*/
/*z-index:99;*/
/*transform: scale(1.1);*/
/*-webkit-transform: scale(1.1);*/
/*-ms-transform: scale(1.1);*/
/*-webkit-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);*/
/*-moz-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);*/
/*box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);*/
/*}*/
.works-item-active {
    background-color: #35B17D;
    padding: 0;
    z-index:99;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
}

/*#works > div > div > section > div.bg-works > div > div:nth-child(4){*/
/*-webkit-box-shadow: 131px 10px 0px -85px rgba(24, 119, 88, 1);*/
/*-moz-box-shadow: 131px 10px 0px -85px rgba(24, 119, 88, 1);*/
/*box-shadow: 131px 10px 0px -85px rgba(24, 119, 88, 1);*/
/*}*/
.circle-work {
    padding: 25px;
    border: 1px solid #f6f6f654;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

#icon-work {
    padding: 15px;
    width: 70px;
    height: 70px;
    border: 1px solid #f6f6f6;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
}

.section-works {
    margin: 40px 0 0 1em;
}
.number-work {
    width: 50px!important;
    background-color: #FEEC98;
    color: #000;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
}
.works-item h4 {
    color: #fff;
    padding: 15px 0 30px 25px;
    font-size: 42px;
    font-weight: 100;
    float: left;
    z-index: 9999999;
    position: absolute;
}

.works-desc-item {
    padding: 40px;
    margin-top: 5px
}
.works-desc-item h3 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 35px 0 10px 0;
}
.works-desc-item p {
    color: #fff;
    font-size: 13px;
}

.carousel-controls-works {
    width: 46px;
    height: 200px;
    background-color: #187758;
    float: right;
    position: absolute;
    margin: -20em 0px 0px 68.1em;
    z-index: 13;
    padding: 30px 0 0 5px;
}
.carousel-controls-works img {
    width: 35px;
    margin: 20px 0;
}
.carousel-controls-works a:hover {
    opacity: 0.6;
    text-decoration: none;
}
#nextWork {
    cursor: pointer;
}
#prevWork {
    cursor: pointer;
}


/* REASONS */
section#reasons {
    width: 100%;
    height: auto;
    padding: 50px 0 80px 0;
    background-color: #fff;
}
section#reasons h2 {
    font-size: 30px;
    letter-spacing: 1px;
    color: #000;
    width: 240px;
}
section#reasons .box-reasons {
    margin: 0 0 0 90px;
}

.carousel-item h4.number {
    color: #f3f3f3;
    font-size: 268px;
    padding: 0;
    font-weight: 500;
    margin: -69px 0 0 -15px;
}
.carousel-item img.img-reason {
    /*position: absolute;*/
    /*margin: -102px 0 0 -115px;*/
    /*z-index: 19;*/
    width: 100%;
}
.carousel-item .details-reason {
    padding: 0 130px 0 95px;
    /*min-height: 487px;*/
    display: block;
    position: relative;
}
.carousel-item p.desc-banner {
    font-size: 14px;
    color: #707070;
    height: 200px;
    margin-top: 20px;
}
.carousel-item h6.title-banner {
    font-size: 28px;
    color: #606060;
    margin: 30px 0 10px 0;
}
/* carousel reason*/
#reason-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
.desc-itens {
    margin-top: -195px;
    position: relative;
    width: 320px;
}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}

#reason-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#reason-carousel .carousel-control.left {
    left: -12px;
}

#reason-carousel .carousel-control.right {
    right: -12px !important;
}
#reason-carousel .carousel-indicators {
    /*right: 50%;*/
    top: auto;
    bottom: 0px;
    margin: 0 auto;
}
#reason-carousel .carousel-indicators li {
    background: #c0c0c0;
}
#reason-carousel .carousel-indicators .active {
    background: #333333;
}
.reason-patter-bg {
    position: absolute;
    z-index: 9;
    margin: -172px 0 0 8px;
}
a.carousel-control:hover {
    opacity: 0.5;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome', sans-serif;
    float: left;
    margin-right: 10px;
}
#control-slider {
    float: right;
    margin: 0 30px 0 0;
    /*position: relative;*/
    /*z-index: 9999;*/
    /*background-color: #22D975;*/
    /*width: 145px;*/
    /*padding: 20px;*/
    /*bottom: -37%;*/
    /*left: -115px;*/
}

@media (min-width: 768px) {
    #reason-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 0;
    }
}

@media (max-width: 768px) {
    #reason-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #reason-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #reason-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/* POSTS */
.post-item {
    margin: 0 0 30px 0;
    padding: 0;
    height: 360px;
    position: relative;
    background-color: transparent;
}

section#posts .post-item-even {
    background: #22D38F url("../img/medium-pattern-2.png") no-repeat left;
    padding: 0;
}
section#posts .post-item-even img {
    display: none;
}
section#posts .post-item-even .date {
    display: none;
}
section#posts .post-item-even .post-title a:hover {
    color: #187758;
}
section#posts .post-item-even .post-title a {
    color: #fff;
    font-size: 25px;
    margin-top: 70px;
    font-weight: 300;
}
section#posts .post-item-even .share-post i.fa {
    color: #fff;
}
section#posts .post-item-even #links-share i.fa:hover {
    color: #606060;
}
section#posts .post-item-even #links-share i.fa {
    color: #22D38F;
}
section#posts .post-item-even .post-category a {
    color: #fff;
}
section#posts .post-item-even .post-category a:hover {
    color: #187758;
}
section#posts .post-item-even .post-description{
    color: #fff;
}

.post-item .post-img {
    position: relative;
    overflow: hidden;
    top: -25px;
}
.post-item .post-img img {
    width: 100%;
    height: auto;
}
.post-item .over-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.30s ease;
}
.post-item:hover .over-layer {
    opacity: 1;
}
.post-item .post-link {
    margin: 0;
    padding: 0;
    position: relative;
    top: 45%;
    text-align: center;
}
.post-item .post-link li {
    display: inline-block;
    list-style: none;
    margin: -9px 0 0;
}
.post-item .post-link li a {
    color: #FFF;
    font-size: 39px;
}
.post-item .post-link li a:hover {
    color: #2C9F28;
    text-decoration: none;
}
.post-item .post-date {
    position: absolute;
    top: 10%;
    left: 5%;
}
.post-item .date {
    display: inline-block;
    padding: 5px 15px;
    color: #444;
    font-size: 10px;
    letter-spacing: 2px;
}
.post-item .month {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 13px;
    color: #111;
    font-size: 20px;
    font-weight: bold;
    background: #2C9F28;
}
.post-item .post-content {
    padding: 10px 22px ;
}
.post-item .post-title {
    margin: 0 0 15px 0;
}
.post-item .post-title a {
    font-size: 17px;
    line-height: 25px;
    color: #606060;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.post-item .post-title a:hover {
    text-decoration: none;
    color: #2C9F28;
}
.post-item .post-description {
    font-size: 14px;
    line-height: 22px;
    color: #444444;
    padding: 0 0 10px 0;
}

.post-item .post-category {
    width: 80%;
    border-top: 1px solid #ccc;
    text-align: left;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

.post-item .post-category a{
    color: #606060;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    transition: color 0.20s linear;
    font-weight: 600;
}
.post-item .post-category a:hover {
    text-decoration: none;
    color: #2C9F28;
}

@media only screen and (max-width: 479px) {
    .post-item .month {
        font-size: 14px;
    }
    .post-item .date {
        font-size: 14px;
    }
}
div.clanky .row {
    padding-top: 35px;
}


section#posts {
    background: #fff;
    padding: 30px 0;
}
section#posts .box-posts {
    margin: 0 90px;
}
section#posts .box-posts {
    margin: 0 90px;
    padding: 30px 0;
}
section#posts h2.section-heading {
    font-size: 30px;
    margin-bottom: 40px;
}
.list-medium {
    width: 200px;
}
.list-medium img{
    width: 200px;
}
.list-medium:nth-child(2n+0) {
    background-color: #5B5B5B;
}
.list-medium img.avatar {
    width: 390px;
    margin-left: -40px;
    margin-bottom: -80px;
}
.list-medium .vertical-line {
    /*float: left;*/
    /*bottom: 0;*/
    padding: 0 0 0 50px;
}
.list-medium h3 {
    padding: 0 0 0 50px;
    margin-top: 20px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.list-medium h4 {
    padding: 0 0 0 50px;
    font-size: 14px;
    color: #2C9F28;
}
.list-medium p {
    padding: 0 0 0 50px;
    font-size: 14px;
    color: #908F8B;
}
.list-medium a {
    color: #000000;
    padding-right: 13px;
}
.list-medium a:hover {
    color: #2C9F28;
}
/*share buttons*/
.socialCircle-item {
    width: 80px;
    height: 80px;
    position: absolute;
    background: #333;
    margin: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}

.socialCircle-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.socialCircle-center {
    width: 120px;
    height: 120px;
    background: #35DBCD;
    margin: 50%;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    cursor: pointer;
}

#links-share {
    width: 150px;
    height: 50px;
    display: none;
    background-color: #f6f6f6;
    padding: 10px;
    position: absolute;
    z-index: 9999;
}
.share-post {
    cursor: pointer;
}
#links-share .fa {
    padding: 0 10px;
}
.share-post:hover #links-share {
    display:block;
    color: red;
}
section#posts .more-posts {
    margin: 15px 15px 0 10px;
    padding: 10px;
}
section#posts .more-posts a {
    color: #64B42F;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
section#posts .more-posts i.fa {
    width: 25px;
    height: 25px;
    padding: 7px;
    border-radius: 50%;
    background: #64B42F;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
}
section#posts .more-posts a:hover {
    color: #444;
}

/* TEAMS */
section#teams {
    background: #f6f6f6;
    padding: 50px 0;
}
section#teams .row {
    padding: 0 90px;
}
section#teams .box-teams {
    margin: 0 90px;
}
section#teams h2.section-heading {
    font-size: 30px;
    width: 240px;
}
section#teams .list-team {
    padding: 0;
    margin: 0;
}
section#teams .list-team img.avatar-team {
    margin-top: 30px;
    margin-bottom: -45px;
    margin-left: 0;
    width: 220px;
}
section#teams .list-team-even {
    /*margin-top: 100px;*/

}
section#teams .list-team .vertical-line img{
    height: 70px;
}
section#teams .list-team .vertical-line {
    padding: 0 0 0 20px;
}
section#teams .list-team h3 {
    /*padding: 0 0 0 50px;*/
    margin-top: 20px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

section#teams .list-team h4 {
    /*padding: 0 0 0 50px;*/
    font-size: 14px;
    color: #2C9F28;
}
section#teams .list-team p {
    min-height: auto;
    font-size: 14px;
    color: #908F8B;
}
section#teams .list-team a {
    color: #000000;
    padding-right: 13px;
}
section#teams .list-team a:hover {
    color: #2C9F28;
}
section#teams .team-social-links {
    /*padding: 0 0 0 50px;*/
}

/* DOWNLOAD */
section#download {
    background: #EFECEC;
    padding: 60px 0;
    margin-bottom: -100px;
}
section#download .box-download {
    margin: 0 90px;
    padding-bottom: 45px;
}
section#download h2.section-heading {
    font-size: 30px;

}
section#download .form-download {
    background: #fff;
    padding: 20px;
    margin-right: 90px;
    box-shadow: 0 0 20px #e1e1e1;
}

section#download .form-download form{
    background-color: #fff;
    padding: 0;
    height: 250px;
    margin: 0;
}

section#download .form-download .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 11px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    border: 1px solid #2DA029;
}
section#download .download-box {
    background: #2DA029;
    padding: 70px 35px;
    height: 250px;
    margin-left: -30px;
}
section#download .download-box h3{
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
section#download .download-box p{
    color: #fff;
    font-size: 14px;
    padding: 20px 0 0 0;
}

.caixa {
    margin: 50px;
}
.caixa img {
    width: 100%;
}
.caixa .btn-default{
    background-color: #2C9F28;
    border: 1px solid #2C9F28;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}
.caixa .btn-default:hover {
    color: #2C9F28;
    background-color: transparent;
    border: 1px solid #2C9F28;
}
.caixa p {
    line-height: 30px;
    color: #606060;
    font-size: 14px;
}
.caixa h3 {
    margin: 35px 0 20px 0;
    width: 45%;
    font-size: 20px;
}

/* FAQ - INDEX */
.container-faq {
    margin-top: 150px;
}
.container-faq h3.header-title {
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 50px;
}
.container-faq .card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    border: 1px solid #f6f6f6;
    border-radius: 0;
}
.container-faq .card-header {
    padding: 1.50rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
}
.container-faq .card-header:hover .active{
    background-color: #2DA029;
    color: #fff;
}
.collapse .show {

}

/*FOOTER*/
#scrollTop {
    margin: 0;
    float: right;
}
img#scrollTop:hover{
    opacity: 0.7;
}
footer#footer {
    margin: 100px 0 0 0;
    background: #000000;
}
footer#footer .container {
    border-top: 1px solid #ccc;
    padding: 80px 0 0 10px;
}
footer#footer h3 {
    font-size: 14px;
    color: #62E000;
    text-transform: uppercase;
    margin-bottom: 30px;
}
footer#footer p {
    color: #fff;
    font-size: 14px;
}
footer#footer ul {
    padding: 0;
}
footer#footer ul li {
    list-style: none;
    font-size: 14px;
}
footer#footer ul li a {
    color: #fff;
    line-height: 40px;
    font-size: 14px;
}
footer#footer ul li a:hover {
    color: #187758;
    text-decoration: none;
}
footer#footer .faq-menu-footer {
    border-right: 1px solid #606060;
    margin-right: 50px;
}
footer#footer .social-footer-links {
    margin: 20px 0;
}
footer#footer .social-footer-links a {
    color: #fff;
    padding-right: 30px;
}
footer#footer .social-footer-links .fa{
    font-size: 1em;
}
footer#footer .social-footer-links a:hover {
    color: #187758;
}
#form-subscribers .form-control {
    background-color: transparent;
    border-color: #62E000;
}
#form-subscribers .form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.copyright {
    background: #000000;
    margin-top: 80px;
    padding: 40px 0;
    border-top: 1px solid #606060;
}
.copyright p.title-copyright {
    color: #707070!important;
}
.copyright img.logo-footer {
    margin: 20px 0;
}
.copyright img.logo-footer:hover {
    opacity: 0.5;
}

.modal-footer button {
    /*width: 150px;*/
    height: 50px;
    /*text-align: left;*/
    background-color: #2DA029;
    padding: 5px 25px;
    line-height: 25px;
}

#modalContact .form-control {
    background-color: #fff;
}
#modalContact .form-control:focus {
    color: #464646;
    background-color: #fff;
    border-color: #464646;
    outline: 0;
    box-shadow: none;
}

.modal-footer img {
    float: right;
}

.modal-title img {
    width: 120px;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 1rem;
    border-top: none;
}
.modal-content {
    padding: 50px;
    border-radius: 0;
    border: none;
}

.modal-footer .fa {
    color: #606060;
    padding: 0 15px;
}

.form-group textarea {
    height: auto;
}

.modal-contact {
    padding: 20px 0 0 0;
}

.modal-contact label {
    color: #606060;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.modal-contact .form-control {
    border: 1px solid #2DA029;
}
.modal-header {
    border: none;
}
.modal-header .close {
    margin: -50px;
}

/*CAROUSEL WORKS*/
#mixedSlider {
    position: relative;
}
#mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
}
#mixedSlider .MS-content .item {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 10px;
}
@media (max-width: 991px) {
    #mixedSlider .MS-content .item {
        width: 50%;
    }
}
@media (max-width: 767px) {
    #mixedSlider .MS-content .item {
        width: 100%;
    }
}
#mixedSlider .MS-content .item .imgTitle {
    position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
}
#mixedSlider .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
}
#mixedSlider .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
}
#mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
    #mixedSlider .MS-controls button {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    #mixedSlider .MS-controls button {
        font-size: 20px;
    }
}
#mixedSlider .MS-controls .MS-left {
    left: 0px;
}
@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-left {
        left: -10px;
    }
}
#mixedSlider .MS-controls .MS-right {
    right: 0px;
}
@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-right {
        right: -10px;
    }
}
#basicSlider { position: relative; }

#basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    height: 400px;
}

#basicSlider .MS-content .item {
    display: inline-block;
    width: 25%;
    /*border: solid 1px #000;*/
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 380px;
    white-space: normal;
    vertical-align: middle;
}
#basicSlider .MS-content .item:hover {
    background-color: #35B17D;
    padding: 0;
    z-index: 99;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
}

.work-active {
    background-color: #35B17D;
    padding: 0;
    z-index: 99;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
    box-shadow: -5px 6px 41px -5px rgba(0,0,0,0.57);
}

@media (max-width: 991px) {

    #basicSlider .MS-content .item { width: 25%; }
}
@media (max-width: 767px) {

    #basicSlider .MS-content .item { width: 35%; }
}
@media (max-width: 500px) {

    #basicSlider .MS-content .item { width: 50%; }
}

#basicSlider .MS-content .item a {
    line-height: 50px;
    vertical-align: middle;
}

#basicSlider .MS-controls button { position: absolute; }

#basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
}

#basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
}

/**/
.carousel-item > div {
    float: left;
}
.carousel-by-item [class*="cloneditem-"] {
    display: none;
}
.carousel-control-prev {
    left: -110px;
}
.carousel-control-next {
    right: -125px;
}