@media screen and (max-width: 412px) {
    #mainNav.navbar-shrink {
        background-color: #fff;
    }
    .navbar-shrink .navbar-brand img.img-logo-white {
        /*display: none;*/
    }
    .navbar-shrink .navbar-brand img.img-logo-green {
        /*display: block;*/
    }
    .navbar-brand .img-logo-white, .img-logo-green {
        width: 100px;
        margin-left: 20px;
    }

    #mainNav {
        z-index: 999999;
    }

    .navbar-brand {
        margin-left: -123px;
    }

    .arrow-scroll-down {
        float: none;
        margin: 100px 0 0 0;
    }

    .fa.fa-navicon {
        color: #09D665;
        font-size: 30px;
    }

    .navbar .container {
        border-bottom: 0;
        padding-bottom: 0;
    }

    #mainNav {
        padding: 0;
        border-bottom: 0;
        background-color: transparent;
    }

    .navbar-light .navbar-toggler {
        padding-right: 20px;
    }

    header.masthead {
        padding-top: 12em;
    }

    header.masthead .content-masthead {
        padding: 0 0 70px 0;
    }
    section.countdown {
        padding: 20px;
        min-height: 275px;
    }

    .carousel-item p.desc-banner {
        height: 110px;
    }

    .mouse-down {
        display: none;
    }

    section.countdown img {
        margin: 10px;
        width: 110px;
    }

    section.countdown-desc {
        height: 480px;
    }

    .patter-bg {
        display: none;
    }

    .carousel-controls-works {
        margin: 0;
    }

    section#works .box-works {
        margin: 0;
    }

    .bg-works {
        margin: 20px;
        padding: 0;
    }

    .carousel-controls-works {
        display: none;
    }

    .content-section {
        margin-left: 0;
    }

    #clockdiv {
        float: left;
    }

    /*teams*/
    section#teams {
        padding: 0;
    }

    section#teams .row {
        padding: 0 25px 85px 20px;
    }

    section#teams .box-teams {
        margin: 0 20px 30px 20px;
    }

    section#teams .list-team {
        margin-bottom: 20px
    }

    section#teams .list-team img.avatar-team {
        width: 100%;
        margin-top: 0;
    }

    section#teams .list-team img.avatar {
        width: 190px;
        margin: 0;
    }

    section#teams .list-team .vertical-line, section#teams .list-team h3, section#teams .list-team h4, section#teams .list-team p {
        padding: 0 0 0 20px;
        font-size: 12px;
    }

    section#teams .team-social-links {
        padding: 0 0 0 20px;
    }

    section#teams .list-team p {
        min-height: 10px;
    }

    .carousel-navigation {
        position: relative;
        bottom: 0;
        margin-top: 30px;
    }

    .carousel-control-next {
        right: -130px;
    }

    .carousel-control-prev {
        left: 114%;
    }

    /*DOWNLOAD*/
    section#download {
        background: #f3f3f3;
    }

    section#download .box-download {
        margin: 0 20px;
    }

    section#download .form-download {
        padding: 0 0 0 20px;
        margin-right: 0;
    }

    section#download .form-download form {
        padding: 0;
    }

    .caixa {
        width: 100%;
        margin: 0;
    }

    .caixa .btn-default {
        font-size: 10px;
        padding: 3px 0;
        margin: 10px 0;
        height: 35px;
    }

    section#download .download-box {
        padding: 30px;
    }

    section#download .download-box h3 {
        font-size: 10px;
    }

    section#download .download-box p {
        font-size: 12px;
    }

    /*about*/
    #clockdiv > div {
        width: 35px;
        height: 55px;
        padding: 7px 0 0 0;
    }

    section.countdown h3 {
        margin-top: 20px;
        padding: 0 10px;
    }

    section.countdown p {
        margin-top: 20px;
        padding: 0 10px;
        font-size: 14px;
        color: #ffffff;
    }

    section.countdown-desc {
        background-color: #fff;
        height: 200px;
        padding: 20px;
    }

    section.countdown-desc a {
        padding: 20px 0;
    }

    .content-about {
        padding: 0;
    }

    .content-about h3 {
        font-size: 20px;
        line-height: 30px;
        padding-right: 5px;
    }

    .content-about p {
        margin-right: 5px;
    }

    /*works*/
    section#works {
        background-color: #fff;
        padding: 0;
        margin-top: 60px;
    }

    .desc-works {
        width: 17em;
    }

    .section-works {
        margin: 80px 0 0 -20px;
    }

    .item-work .line-divider {
        vertical-align: bottom;
        border-bottom: 2px solid #707070;
        width: 100px;
        white-space: nowrap;
        margin: -19px 0 0 59px;
    }

    section#works .box-works h3 {
        color: #7f7f7f;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: none;
        font-weight: bold;
        padding-bottom: 10px;
        margin: -25px 0 0 1px;
    }

    section#works .box-works p {
        font-size: 12px;
        color: #B4B4B4;
        margin: 15px 0 0 58px;
    }

    /*REASONS*/
    section#reasons h2 {
        color: #7F7F7F;
        font-size: 14px;
        margin-left: 10px;
    }

    #reason-carousel {
        padding: 0 10px 30px 10px !important;
    }

    /* FOOTER */
    footer#footer .container {
        padding: 40px 20px;
    }

    footer#footer ul {
        margin-bottom: 60px;
    }

    footer#footer p:nth-child(5) {
        margin-bottom: 50px;
    }

    .navbar-collapse {
        background-color: #6BB633;
        color: #fff;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        font-size: 12px;
        color: #fff;
        text-align: center;
        padding: 16px;
        text-transform: uppercase;
        border-top: 1px solid #fff;
        margin: 0 30px;
    }

    #mainNav .navbar-nav > li.nav-item:nth-child(1) > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        border-top: 0;
    }

    footer#footer .social-footer-links {
        margin: 70px 0;
        text-align: center;
        font-size: 29px;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #fff;
        background: #0f4835;
    }

    section#posts .box-posts {
        margin: 10px;
    }

    .post-item {
        height: 250px;
    }

    section#posts .more-posts {
        margin: 15px 15px 0 10px;
        padding: 10px;
    }

    .post-item .post-date {
        display: none;
    }

    .post-item .post-content {
        padding: 10px
    }

    .post-item .post-title {
        font-size: 12px;
    }

    .post-item .post-category a {
        font-size: 9px;
    }

    #links-share .fa {
        padding: 0 10px;
    }

    #links-share {
        width: 120px;
    }

    .share-post .fa {
        font-size: 10px;
    }

    .post-item .post-title a {
        font-size: 14px;
        line-height: 20px;
    }

    section#posts .post-item-even .post-title a {
        font-size: 14px;
        margin: 21px 0 0 5px;
    }

    #clockdiv {
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
        margin: 0 auto !important;
    }

    .banner-caption {
        /* width: 40em; */
        /* height: 360px; */
        background-color: #ffffff;
        color: #444444;
        /* padding: 20px; */
        /* margin: 15px 0 0 60px; */
        z-index: 9999;
        position: absolute;
    }

    section#works {
        margin: 60px 0 0 0;
    }

    section#works .box-works {
        margin: 0;
    }

    section#works h2.section-heading {
        font-size: 20px;
        font-weight: bold;
    }

    section.container-works {
        z-index: 555;
        position: relative;
    }

    section.container-works a.link-download {
        color: #64B42F;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        float: right;
        margin: 20px 0 0 0;
    }

    section#reasons {
        min-height: 800px;
        background-color: #fff;
    }

    section#reasons h2.section-heading {
        margin: 0 0 40px 10px;
    }

    section#reasons .box-reasons {
        margin: 0;
    }

    .box-banner {
        padding: 0;
    }

    .carousel-item .details-reason {
        padding-left: 20px;
        margin: 30px 0 0 0;
    }

    .carousel-item p.desc-banner {
        font-size: 14px;
        color: #606060;
    }

    .carousel-item h6.title-banner {
        font-size: 22px;
        color: #606060;
        margin: 30px 0;
    }

    .carousel-item h4.number {
        color: #f3f3f3;
        font-size: 80px;
        padding: 0;
        font-weight: 500;
        margin: -329px 0 0 0;
    }

    .desc-itens {
        margin-top: 225px;
        position: relative;
        width: 16em;
    }

    .carousel-item h6.title-banner {
        font-size: 25px;
        color: black;
    }

    #control-slider {
        margin: 0 auto !important;
        text-align: center;
    }

    /*TEANS*/
    section#teams h2.section-heading {
        font-size: 25px;
        width: 200px;
    }

    section#download h2.section-heading {
        font-size: 25px;
    }

    section#download .box-download {
        margin: 0 30px;
    }

    section#download .form-download {
        padding: 10px;
    }

    .caixa h3 {
        width: 100%;
    }

    #scrollTop {
        margin: 49px 3px 0 0;
        float: right;
        z-index: 99999999999;
    }

}

@media (min-width: 401px) and (max-width: 500px) {
    .navbar-brand {
        margin-left: -123px;
    }

    .fa.fa-navicon {
        color: #09D665;
        font-size: 30px;
    }

    .navbar .container {
        border-bottom: 0;
        padding-bottom: 0;
    }

    #mainNav {
        padding: 0;
        border-bottom: 0;
    }

    .navbar-light .navbar-toggler {
        padding-right: 20px;
    }

    header.masthead .content-masthead {
        margin-left: 0;
    }

    section.countdown {
        padding: 20px;
        min-height: 275px;
    }

    .mouse-down {
        display: none;
    }

    section.countdown img {
        margin: 10px;
        width: 110px;
    }

    section.countdown-desc {
        height: 480px;
    }

    .patter-bg {
        display: none;
    }

    .carousel-controls-works {
        margin: 0;
    }

    section#works .box-works {
        margin: 0;
    }

    .bg-works {
        margin: 20px;
        padding: 0;
    }

    .carousel-controls-works {
        display: none;
    }

    #clockdiv {
        float: left;
    }

    /*teams*/
    section#teams {
        padding: 30px 0;
    }

    section#teams .row {
        padding: 0 25px 85px 20px;
    }

    section#teams .box-teams {
        margin: 0 20px;
    }

    section#teams .list-team {
        margin-bottom: 20px
    }

    section#teams .list-team img.avatar-team {
        width: 160px;
        margin-top: 0;
    }

    section#teams .list-team img.avatar {
        width: 190px;
        margin: 0;
    }

    section#teams .list-team .vertical-line, section#teams .list-team h3, section#teams .list-team h4, section#teams .list-team p {
        padding: 0 0 0 20px;
        font-size: 12px;
    }

    section#teams .team-social-links {
        padding: 0 0 0 20px;
    }

    /*DOWNLOAD*/
    section#download {
        background: #f3f3f3;
    }

    section#download .box-download {
        margin: 0 20px;
    }

    section#download .form-download {
        padding: 0 0 0 20px;
    }

    section#download .form-download form {
        padding: 10px;
    }

    .caixa {
        width: 100%;
        margin: 0;
    }

    .caixa .btn-default {
        font-size: 10px;
        padding: 3px 0;
        margin: 10px 0;
        height: 35px;
    }

    section#download .download-box {
        padding: 30px;
    }

    section#download .download-box h3 {
        font-size: 10px;
    }

    section#download .download-box p {
        font-size: 12px;
    }

    /*about*/
    #clockdiv > div {
        width: 35px;
        height: 55px;
        padding: 7px 0 0 0;
    }

    section.countdown h3 {
        margin-top: 20px;
        padding: 0 10px;
    }

    section.countdown p {
        margin-top: 20px;
        padding: 0 10px;
        font-size: 14px;
        color: #ffffff;
    }

    section.countdown-desc {
        background-color: #fff;
        height: 200px;
        padding: 20px;
    }

    section.countdown-desc a {
        padding: 20px 0;
    }

    /* FOOTER */
    footer#footer .container {
        padding: 40px 20px;
    }

    footer#footer ul {
        margin-bottom: 60px;
    }

    footer#footer p:nth-child(5) {
        margin-bottom: 50px;
    }

    .navbar-collapse {
        background-color: #187758;
        color: #fff;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #fff;
        background: #0f4835;
    }

    section#posts .box-posts {
        margin: 10px;
    }

    .post-item {
        height: 250px;
    }

    section#posts .more-posts {
        margin: 15px 15px 0 10px;
        padding: 10px;
    }

    .post-item .post-date {
        display: none;
    }

    .post-item .post-content {
        padding: 10px
    }

    .post-item .post-title {
        font-size: 12px;
    }

    .post-item .post-category a {
        font-size: 9px;
    }

    #links-share .fa {
        padding: 0 10px;
    }

    #links-share {
        width: 120px;
    }

    .share-post .fa {
        font-size: 10px;
    }

    .post-item .post-title a {
        font-size: 14px;
        line-height: 20px;
    }

    section#posts .post-item-even .post-title a {
        font-size: 14px;
        margin: 21px 0 0 5px;
    }

    #clockdiv {
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
        margin: 0 auto !important;
    }

    .banner-caption {
        /* width: 40em; */
        /* height: 360px; */
        background-color: #ffffff;
        color: #444444;
        /* padding: 20px; */
        /* margin: 15px 0 0 60px; */
        z-index: 9999;
        position: absolute;
    }

    section#works {
        margin: 10px 0 0 0;
    }

    section#works .box-works {
        margin: 0 10px;
    }

    section#works h2.section-heading {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }

    section.container-works {
        z-index: 555;
        position: relative;
    }

    section.container-works a.link-download {
        color: #64B42F;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        float: right;
        margin: 20px 0 0 0;
    }

    section#reasons {
        height: 800px;
        background-color: #fff;
    }

    section#reasons h2.section-heading {
        margin: 0 0 40px 10px;
    }

    section#reasons .box-reasons {
        margin: 0;
    }

    .box-banner {
        padding: 0;
    }

    .carousel-item .details-reason {
        padding-left: 20px;
        margin: 30px 0 0 0;
    }

    .carousel-item p.desc-banner {
        font-size: 14px;
        color: #606060;
    }

    .carousel-item h6.title-banner {
        font-size: 22px;
        color: #606060;
        margin: 30px 0;
    }

    #control-slider {
        margin: 0 auto !important;
        text-align: center;
    }
}

@media (min-width: 300px) {
    #clockdiv {
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
        text-align: center;
        font-size: 16px;
        margin: 0 auto !important;
    }

    /*#clockdiv div {*/
    /*width: 40px;*/
    /*height: 65px;*/
    /*}*/
}

@media (min-width: 768px) {
    header.masthead p {
        font-size: 20px;
    }

    header.masthead-page p {
        font-size: 21px;
    }
}

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }

    #mainNav .navbar-brand img {
        width: 100px;
        padding: 5px;
    }

    .navbar-shrink .navbar-brand img.img-logo-white {
        display: none;
    }

    .navbar-shrink .navbar-brand img.img-logo-green {
        display: block;
    }

    .navbar-brand img.img-logo-green {
        display: none;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: #fff;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link {
        /*padding: 0.5rem 1rem;*/
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: #ffffff;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav.navbar-shrink {
        height: 90px;
        background-color: #fff;
        padding-top: 50px;
    }

    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
        color: #f05f40;
    }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
        color: #212529;
    }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #187758;
    }

    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }

    header.masthead h1 {
        font-size: 3rem;
    }

    header.masthead-page {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }

    header.masthead-page h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 40px;
        font-weight: bold;
        line-height: 55px;
    }

    header.masthead-page h1 {
        font-size: 48px;
    }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/*@media (min-width: 1281px) {*/
/*}*/

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

/*@media (min-width: 1025px) and (max-width: 1280px) {*/
/*}*/

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/*@media (min-width: 768px) and (max-width: 1024px) {*/
/*}*/

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/*@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {*/
/*}*/

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

/*@media (min-width: 481px) and (max-width: 767px) {*/
/*}*/

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/*@media (min-width: 320px) and (max-width: 480px) {*/
/*}*/
