.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;


    .sidebar-wrapper{
        position: relative;
        z-index: 4;
        width: 260px;
        height: calc(100vh - 64px);

        > .nav{
            margin-top: 20px;
        }

        > .user ~ .nav{
            margin-top: 0;
        }

        .dropdown .dropdown-backdrop{
            display: none !important;
        }

    }

    .sidebar-background{
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
    }

    .nav{

        li{
            > a{
                margin: 5px 15px 0px;
                border-radius: $border-radius-base;
                color: #FFFFFF;
                opacity: .86;
            }

            &:hover > a{
                background: rgba(255,255,255,0.13);
                opacity: 1;
                color: #FFFFFF;
            }

            &.active > a{
                color: #FFFFFF;
                opacity: 1;
                background: rgba(255,255,255,0.23);

            }
        }

        [data-toggle="collapse"] ~ div > ul > li > a{
            padding-left: 60px;
        }

        p{
            margin: 0;
            line-height: 30px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
            position: relative;
            @extend .animation-transition-general;

            .caret{
                top: 12px;
                position: absolute;
                right: 0;
            }
        }

        i{
            font-size: 28px;
            float: left;
            margin-right: 15px;
            line-height: 30px;
            width: 30px;
            text-align: center;
        }
    }

    .logo-mini{
        display: none;
    }

}

.sidebar,
.bootstrap-navbar{
    .logo{
        padding: $padding-default-vertical $padding-default-horizontal;
        position: relative;
        z-index: 4;



        p{
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .logo-text{
            text-transform: uppercase;
            padding: 7px $padding-zero;
            display: block;
            font-size: $font-size-large;
            color: $white-color;
            font-weight: $font-weight-normal;
            line-height: 30px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
        }

        .logo-image{
            float: left;
            height: 40px;
            width: 40px;
            margin: 0 10px;
        }

        .logo-round{
            border-radius: 50%;
            display: block;
            overflow: hidden;

            img{
                width: 100%;
            }
        }

        &:before{
            content: "";
            position: absolute;
            bottom: -1px;
            right: 10%;
            width: 80%;
            height: 1px;
            background-color: rgba($white-color, 0.3);
        }

    }

    .user{
        border-bottom: 1px solid rgba($white-color, 0.20);
        padding-bottom: 20px;
        margin-top: 20px;

        .photo{
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 50%;
            border: 4px solid rgba($white-color, .3);
            margin: 0 auto;
            @extend .animation-transition-general;

            img{
                width: 100%;
            }
        }

        a{
            text-align: center;
            color: $white-color;
            padding: $padding-base-vertical $padding-large-vertical;
            text-align: center;
            display: block;
            @extend .animation-transition-general;
        }
    }

    &:after,
    &:before{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &:before{
        opacity: .33;
        background: #000000;
    }

    &:after{
       @include line-gradient($black-color-top, rgba($black-color-bottom,.7));
       z-index: 3;
       opacity: 1;
    }

    &[data-image]:after,
    &.has-image:after{
        opacity: .95;
    }

    // colors for the sidebar with an image
    &[data-color="blue"]:after{
        @include line-gradient($color-blue, rgba($blue-color-bottom,.7));
    }
    &[data-color="azure"]:after{
        @include line-gradient($color-azure, rgba($azure-color-bottom,.7));
    }
    &[data-color="green"]:after{
        @include line-gradient($color-green, rgba($green-color-bottom,.7));
    }
    &[data-color="orange"]:after{
        @include line-gradient($color-orange, rgba($orange-color-bottom,.7));
    }
    &[data-color="red"]:after{
        @include line-gradient($color-red, rgba($red-color-bottom,.7));
    }
    &[data-color="purple"]:after{
        @include line-gradient($color-purple, rgba($purple-color-bottom,.7));
    }
}


.main-panel{
    background: $smoke-bg;
    position: relative;
    // z-index: 2; fix for Modals inside .main-panel
    float: right;
    width: $sidebar-width;
    min-height: 100%;

    > .content{
        padding: 30px 15px;
        min-height: calc(100vh - 136px);
    }

    > .content-no-padding{
        padding: 0;
    }

    > .footer{
        border-top: 1px solid #e7e7e7;
    }

    .navbar{
        margin-bottom: 0;
    }
}

.sidebar,
.main-panel,
.sidebar-wrapper,
.navbar-fixed{
    -webkit-transition-property: top,bottom,width;
    transition-property: top,bottom, width;
    -webkit-transition-duration: .2s,.2s, .35s;
    transition-duration: .2s,.2s, .35s;
    -webkit-transition-timing-function: linear,linear,ease;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
}

.sidebar,
.main-panel{
    max-height: 100%;
    height: 100%;
}

// windows os settings for perfect scrollbar off
.sidebar .sidebar-wrapper,
.main-panel{
    .perfect-scrollbar-on &,
    &{
        overflow: auto;
    }
}

// regular settings for perfect scrollbar off
.perfect-scrollbar-off{
    .sidebar .sidebar-wrapper,
    .main-panel{
        overflow: auto;
    }
}

.visible-on-sidebar-regular{
    display: inline-block !important;
}
.visible-on-sidebar-mini{
    display: none !important;
}

@media (min-width: $screen-md) {
    .hover-collapse{
        display: block;
        position: absolute;
        top: 0;
        left: 81px;
        background-color: $white-color;
        border: 1px solid rgba(0,0,0,.15);
        border: 1px solid #ccc;
        border-radius: $border-radius-extreme;
        padding: 0px;

        @include box-shadow($dropdown-shadow);

    }

    .sidebar-mini{
        .visible-on-sidebar-regular{
            display: none !important;
        }
        .visible-on-sidebar-mini{
            display: inline-block !important;
        }
        .sidebar{
            width: 80px;
            display: block;
            font-weight: 200;
            z-index: 3;

            .sidebar-wrapper{
                overflow: inherit;
                width: 80px;
                box-shadow: none;
            }

            .logo{
                display: none;
            }

            .logo-mini{
                padding: 10px 0px;
                display: block;
                margin: 0px;
                position: relative;
                z-index: 4;

                &:before{
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    right: 10%;
                    width: 80%;
                    height: 1px;
                    background-color: rgba($white-color, 0.3);
                }
            }

            .sidebar-wrapper > .nav{
                margin-top: 20px;

                li{

                    // a{
                    //     margin: 5px 10px;
                    // }

                    &:hover,
                    &:focus{
                        .collapse{
                            @extend .hover-collapse;
                        }
                    }
                    > a{
                        margin: 5px 10px;

                        &:before,
                        &:after{
                            display:none;
                        }
                    }
                }
                p{
                    display: none;
                }

                i{
                    float: none;
                }

                [data-toggle="collapse"] ~ div > ul > li > a {
                    color: $black-color;
                    padding: 8px 16px;
                    margin: 0;
                    border-radius: 0;
                }

                [data-toggle="collapse"] ~ div > ul > li:last-child > a{
                    margin-bottom: 5px;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                }

                [data-toggle="collapse"] ~ div > ul > li:first-child > a{
                    margin-top: 5px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }

            }

            .info{

                > a{
                    height: 0;
                    padding: 0;
                    opacity: 0;
                }

                .collapse .nav{
                    li{
                        >a{
                            margin: 0;
                            border-radius: 0;


                        }
                    }
                }

                [data-toggle="collapse"] ~ div > ul > li:last-child > a{
                    margin-bottom: 5px;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                }

                [data-toggle="collapse"] ~ div > ul > li:first-child > a{
                    margin-top: 5px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
            }

            .user{
                position: relative;
                // margin-top: 20px;
                // padding: $padding-zero;
                // padding-bottom: 20px;

                .nav{

                    a{
                        color: $black-color;
                    }
                }

                .photo{
                    width: 50px;
                    height: 50px;
                    border-width: 2px;
                }

                &:hover{

                    .collapse{
                        @extend .hover-collapse;
                    }
                }
            }

            .collapse .nav{
                width: 160px;
                height: auto;
                position: relative;

                li{
                    & > a:hover,
                    & > a:focus{

                        background-color: $smoke-bg;
                        opacity: 1;
                        text-decoration: none;
                    }
                }
                &:after{
                    border-right: 11px solid #fff;
                    border-top: 11px solid rgba(0, 0, 0, 0);
                    border-bottom: 11px solid rgba(0, 0, 0, 0);
                    position: absolute;
                    content: "";
                    display: inline-block;
                    left:-10px;
                    top:8px;
                }


                li.active{
                    > a{
                        background-color: $smoke-bg;
                        opacity: 1;
                        text-decoration: none;
                    }
                }

                &:before{
                    border-right: 11px solid #ccc;
                    border-top: 11px solid rgba(0, 0, 0, 0);
                    border-bottom: 11px solid rgba(0, 0, 0, 0);
                    position: absolute;
                    content: "";
                    display: inline-block;
                    left:-11px;
                    top:8px;
                }
                &:after{
                    border-right: 11px solid #fff;
                    border-top: 11px solid rgba(0, 0, 0, 0);
                    border-bottom: 11px solid rgba(0, 0, 0, 0);
                    position: absolute;
                    content: "";
                    display: inline-block;
                    left:-10px;
                    top:8px;
                }

            }

        }

        .main-panel{
            width: calc(100% - 80px);
            margin-left: 80px;
        }

        .wrapper{
            height: auto;
        }

        .sidebar,
        .main-panel{
            overflow: visible;
            max-height: none;
            height: auto;
        }

        .navbar-fixed{
            width: calc(100% - 80px);
        }
    }
}

@media print{
    .sidebar{
        display: none !important;
    }
    .main-panel{
        width: 100% !important;
        max-width: none !important;
        max-height: none !important;
    }
    .wrapper{
        height: auto !important;
    }
}
