a { cursor: pointer; }
.all-icons [class^="pe-"]{ font-size: 40px; }
.all-icons input{ border: 0; }
.all-icons .font-icon-detail{ text-align: center; padding: 45px 0px 30px; border: 1px solid #e5e5e5; border-radius: 6px; margin: 15px 0; }
.all-icons .font-icon-container a{ padding: 5px 0; display: block; color: #666666; }
.all-icons .font-icon-detail input{ margin: 25px auto 0; width: 100%; text-align: center; display: block; color: #aaa; font-size: 13px; }
.all-icons h5{ margin-top: 60px; }
.all-icons > div > .row:first-child h5{ margin-top: 15px; }
.places-buttons .btn{ margin-bottom: 30px }
.buttons-with-margin .btn{ margin-bottom: 5px; }
.animated .img-rounded{ width: 150px; height: 150px; overflow: hidden; margin: 0 auto; display: block; }
.animated .img-rounded img{ width: 100%; }
.title-page { font-weight: 400; margin: 6px 0px; padding: 15px 15px; font-size: 20px; }

#map { width: 100%; height: 400px; margin: 30px 0;}

.btn { border-radius: 0;}

/*login form*/
.form-login .card .form-group > label { color: #fff; }
.form-login .card .form-group > p > a { color: #fff; }
.form-login .card .form-group > p > a:hover { color: #23CCEF; }

/*responsive hacks*/
@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}
.user-profile-menu{ margin-top: 10px; margin-bottom: 20px; border: 0; border-top: 1px solid rgba(238, 238, 238, 0.3); }
.sidebar .nav i { font-size: 16px; }
.sidebar .nav ul > li> a i { font-size: 13px; margin: -4px 0 0 0; padding: 0; }

.payment-banner { margin: 10px; padding: 10px; background-color: #a94442; width: 300px; float: right; position: absolute; right: 0; z-index: 9999; position: fixed;}
.payment-banner a{ color: #fff; font-size: 13px;}

.form-register .form-group label, .form-register label{ color: #fff; font-size: 14px; }

/*// modal edit profile*/
.edit-profile-modal-container { padding: 20px; width: 100% !important; background-color: #F7F7F7; margin: 0 auto; border-radius: 2px; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); overflow: hidden; }
.edit-profile-modal-container .fa { margin: 0 15px 0 0;}
.edit-profile-modal-container h1 {  text-align: center;  font-size: 1.8em;}
.edit-profile-modal-container input[type=submit] { width: 100%; display: block; margin-bottom: 10px; position: relative; }
.edit-profile-modal-container input[type=text], input[type=email] {height: 44px;font-size: 16px;width: 100%;margin-bottom: 10px;-webkit-appearance: none;background: #fff;border: 1px solid #d9d9d9;border-top: 1px solid #c0c0c0;padding: 0 8px;box-sizing: border-box;-moz-box-sizing: border-box;}
.edit-profile-modal-container input[type=text]:hover, input[type=email]:hover {border: 1px solid #b9b9b9;border-top: 1px solid #a0a0a0;-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);}
.edit-profile-modal {  text-align: center;  font-size: 14px;  font-weight: 700;  height: 36px;  padding: 0 8px; }
.edit-profile-modal-submit {border: 0px;color: #fff;text-shadow: 0 1px rgba(0,0,0,0.1);background-color: #23CCEF;padding: 17px 0px;font-size: 14px;}
.edit-profile-modal-submit:hover { border: 0px; text-shadow: 0 1px rgba(0,0,0,0.3); background-color: rgba(32, 187, 219, 0.84);}
.edit-profile-modal-container a { text-decoration: none; color: #666; font-weight: 400; text-align: center; display: inline-block; opacity: 0.6; transition: opacity ease 0.5s; }
.profile-help{ font-size: 12px; border-top: 1px solid #ccc; padding-top: 15px; }

.help-block strong {
    color: #a94442;
}
